<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
     <div class="card mb-4 rounded-3 shadow-sm">
       <div class="card-header py-3">
         <h4 class="my-0 fw-normal"><%= destiny.travel.name %></h4>
       </div>
       <div class="card-body">
         <h1 class="card-title pricing-card-title"><%= destiny.country.name %></h1>
         <ul class="list-unstyled mt-3 mb-4">
           <li>Fecha salida: <%= destiny.start_date.strftime("%d-%m-%Y") %></li>
           <li>Fecha regreso: <%= destiny.fishis_date.strftime("%d-%m-%Y") %></li>
         </ul>
           <%= link_to "Ver detalle", destiny, :class => "w-30 btn btn-sm btn-primary rounded-pill px-2" %>
       </div>
     </div>
   </div>
 </div>
</main>


<% destinies.group_by(&:travel).each do |travel_name, destinies| %>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <% destinies.each do |destiny| %>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><%= travel_name %></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><%= destiny.country.name %></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Fecha salida: <%= destiny.start_date.strftime("%d-%m-%Y") %></li>
              <li>Fecha regreso: <%= destiny.fishis_date.strftime("%d-%m-%Y") %></li>
            </ul>
            <%= link_to "Ver detalle", destiny, :class => "w-30 btn btn-sm btn-primary rounded-pill px-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>