<div id="<%= dom_id destiny %>">
  <p>
    <strong>Start date:</strong>
    <%= destiny.start_date.strftime("%d-%m-%Y") %>
  </p>

  <p>
    <strong>Fishis date:</strong>
    <%= destiny.fishis_date.strftime("%d-%m-%Y") %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= destiny.country.name %>
  </p>

  <p>
    <strong>Travel:</strong>
    <%= destiny.travel.name %>
  </p>

</div>
