<%= form_with(model: destiny) do |form| %>
  <% if destiny.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(destiny.errors.count, "error") %> prohibited this destiny from being saved:</h2>

      <ul>
        <% destiny.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :fishis_date, style: "display: block" %>
    <%= form.date_field :fishis_date %>
  </div>

 <div class="field">
    <%= form.label :País_de_destino, style: "display: block" %>
    <%= form.collection_select :country_id, @countries, :id, :name, prompt: "País de destino", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <%= form.label :Viaje, style: "display: block" %>
        <%= form.collection_select :travel_id, Travel.where(user_id: current_user.id), :id, :name, prompt: "Selecciona el viaje", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
