<div id="<%= dom_id travel %>">
  <p>
    <strong>Name:</strong>
    <%= travel.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= travel.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= travel.finish_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= travel.user.name %> <%= travel.user.lastname %>
  </p>

</div>
