<div id="<%= dom_id article %>">
  <p>
    <strong>Titulo:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= article.user.name %> <%= article.user.lastname %>
  </p>

  <p>
    <strong>Viaje:</strong>
    <%= article.travel.name %>
  </p>

</div>
