        <tr class="table-light">
          <td><%= contact.name %></td>
          <td><%= contact.lastname %></td>
          <td><%= contact.country.name %></td>
          <td><%= contact.email %></td>      
          <td><%= contact.phone %></td>
          
          <td> <%= link_to "Ver detalle", contact, :class => "w-30 btn btn-sm btn-primary rounded-pill px-2" %></td>
        </tr>
      </tbody>
 </div>
</main>
