<%= form_with(model: articles_disease) do |form| %>
  <% if articles_disease.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(articles_disease.errors.count, "error") %> prohibited this articles_disease from being saved:</h2>

      <ul>
        <% articles_disease.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.text_field :article_id %>
  </div>

  <div>
    <%= form.label :disease_id, style: "display: block" %>
    <%= form.text_field :disease_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
