<div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img src="<%= asset_path('logo.png') %>" alt="Logo" width=80%>
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><%= link_to "Home", root_path, :class => "nav-link px-2 link-secondary" %></li>
    <li><%= link_to "Viajes", travels_path, :class => "nav-link px-2 link-secondary" %></li>
    <li><%= link_to "Destinos", destinies_path, :class => "nav-link px-2 link-secondary" %></li>
    <li><%= link_to "Contactos", contacts_path, :class => "nav-link px-2 link-secondary" %></li>
    <li><%= link_to "Articulos", articles_path, :class => "nav-link px-2 link-secondary" %></li>
  </ul>

  <div class="btn-group gap-2">
  <% if current_user %>    
    <%= link_to "Editar perfil", edit_user_registration_path, :class => "btn btn-warning rounded-pill px-2" %>
    <%= button_to "Salir", destroy_user_session_path, method: :delete, :class => "btn btn-primary rounded-pill px-2" %>
  <% else %>
    <%= link_to "Ingresar", new_user_session_path, :class => "btn btn-primary rounded-pill px-2" %>
    <%= link_to "Registrarse", new_user_registration_path, :class => "btn btn-primary rounded-pill px-2" %>
  <% end %>
  </div>
</header>
</div>

<div class="b-example-divider"></div>
